* {
    box-sizing: border-box;
    border: 1px dashed black;
}

html {
    background: grey;
}

body, html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 375px;
    font-family: Arial;
}

.wrapper {
    margin: 0 auto;
    padding: 10px 20px 0;
}

h2 {
    text-align: center;
}

.about_me_main {
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.about_me_main > p {
    margin: 0 10px;
}

.about_me_img {
    background: lightgrey;
    min-width: 250px;
    height: 250px;
}

.about_me_extra > p {
    margin: 0 10px;
}

#nav_links {
    background: lightgrey;
    margin: 10px auto 0;
    z-index: 10;
}

/* need to fix: mobile view sticky is off by y pixels */
.nav_links_sticky {
    position: sticky;
    position: -webkit-sticky; /* Safari */
    top: 0;
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px;
}

.skills {
    background: lightgray;
}

.skill_list {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    margin: 0 5px;
}

.skill_icons {
    width: 40px;
}

.projects_side_links {
    display: none;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 800px;
}

.project {
    background: lightgrey;
    width: 210px;
    height: 275px;
    /* margin: 10px; */
    padding-top: 2px;
    text-align: center;
}

.project_frame {
    background: white;
    width: 190px;
    height: 190px;
    margin: 10px auto;
}

.project_info_box {
    margin-top: 15px;
    font-weight: bold;
}

.project_info_title {
    margin: 5px auto;
}

.project_info_tech {
    margin: 5px auto;
    font-size: 15px;
    font-weight: lighter;
}

.contact {
    background: lightgrey;
    height: 150px;
}

footer {
    background: lightgrey;
    text-align: center;
    line-height: 30px;
    margin-top: 10px;
}

a {
    color: black;
    text-decoration: none;
}

.anchor {
    display: block;
    visibility: hidden;
    margin-top: -25px;
    padding-top: 37px;
}

.project_anchor {
    display: block;
    visibility: hidden;
    margin-top: -25px;
    padding-top: 37px;
}

/* mobile screen */
@media only screen and (max-width: 600px) {
    .about_me_main {
        display: flex;
        flex-direction: column-reverse;
        text-align: justify;
    }

    .projects_all {
        display: flex;
    }

    h4 {
        text-align: center;
    }

    .projects_side_links {
        display: block;
        position: sticky;
        position: -webkit-sticky; /* Safari */
        top: 75px;
        height: 100%;
        /* unable to make height 100%
        of.projects-section when sticky;
        background color wont 100% height */
        /* background: lightgrey; */
    }

    .ul_vertical {
        display: block;
    }

    .projects_side_right {
        margin: 0;
    }

    .projects {
        display: flex;
        flex-direction: column;
    }

    .project {
        margin: 5px auto;
    }
}